.navbar .container {
    width: 90%;
    height: 71px;
    display: flex;
    align-items: center;
    margin: auto;
    justify-content: space-between
}

.categories {
    height: 100%;
    width: 218px;
}

.categories button {
    background: #EDA415;
    color: white;
    height: 100%;
    border: 0;
    width: 100%;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
}

.nav {
    width: 508px;
    height: auto;
}

.nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav ul li a {
    text-decoration: none;
    color: black;
    font-weight: 500;
}

.guarantee-text p {
    color: #003F62;
    font-size: 16px;
    font-weight: 700;
}